<plugin name='eappcore' version='0.1.4' grailsVersion='2.1 &gt; *'>
  <author>Your name</author>
  <title>Eappcore Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/eappcore</documentation>
  <type>EappcoreGrailsPlugin</type>
  <resources>
    <resource>com.blagha.JWSCEquip</resource>
    <resource>com.blagha.JWSCLoc</resource>
    <resource>com.blagha.JWSCMfg</resource>
    <resource>com.blagha.JWSCMntn</resource>
    <resource>com.blagha.JWSCSpares</resource>
    <resource>com.blagha.JWSCTrans</resource>
    <resource>com.blagha.JWSCVessel</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://repository.codehaus.org' url='http://repository.codehaus.org/' />
    <repository name='http://repository.jboss.org/maven2' url='http://repository.jboss.org/maven2/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
  </repositories>
  <dependencies />
  <plugins>
    <test>
      <plugin group='org.grails.plugins' name='auto-test' version='1.0.1' />
      <plugin group='org.grails.plugins' name='code-coverage' version='1.2.5' />
    </test>
    <compile>
      <plugin group='org.grails.plugins' name='build-test-data' version='2.0.3' />
      <plugin group='org.grails.plugins' name='codenarc' version='0.17' />
      <plugin group='org.grails.plugins' name='functional-test' version='2.0.M2' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.1' />
    </runtime>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>