<plugin name='eappcore' version='0.1.3' grailsVersion='2.1 &gt; *'>
  <author>Your name</author>
  <title>Eappcore Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/eappcore</documentation>
  <type>EappcoreGrailsPlugin</type>
  <resources>
    <resource>com.blagha.JWSCEquip</resource>
    <resource>com.blagha.JWSCLoc</resource>
    <resource>com.blagha.JWSCMfg</resource>
    <resource>com.blagha.JWSCMntn</resource>
    <resource>com.blagha.JWSCSpares</resource>
    <resource>com.blagha.JWSCTrans</resource>
    <resource>com.blagha.JWSCVessel</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='codenarc' version='0.17' />
    </compile>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>